h1 {
    color:gold;
    font-size: 55px;
    position: relative;
    left: 650px;
}
table {
    background-color:burlywood;
    border-style: double;
    font-size: 80px;
    position: relative;
    left: 450px;
}
body {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    /* background-color: orange; */
    background-image: url(https://images.unsplash.com/photo-1506953823976-52e1fdc0149a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YmVhY2h8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
button {
    position: relative;
    left: 450px;
}
footer {
    position: relative;
    left: 450px;
}